body
{
  background: url(/img/lot/p6.png);
}
.jumbotron {
background-position: 0% 30%;
background-image: url(/img/lot/lotblogheader.jpg);
background-size: cover;
background-repeat:no-repeat;
#background-color: #FFD700;
color: white;
overflow: hidden;
}
.jumbotron-custom {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  background-position: 40% 80%;
background-image: url(/img/header/header-a.jpg);
background-size: cover;
background-repeat:no-repeat;

color: white;
overflow: hidden;
}
.jumbotron-custom h1,
.jumbotron-custom .h1 {
  color: inherit;
}
.jumbotron-custom p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron-custom > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron-custom,
.container-fluid .jumbotron-custom {
  border-radius: 6px;
}
.jumbotron-custom .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron-custom {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron-custom,
  .container-fluid .jumbotron-custom {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron-custom h1,
  .jumbotron-custom .h1 {
    font-size: 63px;
  }
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
@font-face
{
font-family: "Socialico Plus";
src: url('../fonts/Socialico Plus.otf');
}
@font-face
{
font-family: "Socialico";
src: url('../fonts/Socialico.otf');
}
@font-face
{
font-family: "Bebas Neue";
src: url('../fonts/BebasNeue.otf');
}
@font-face
{
font-family: "Something-in-the-way";
src: url('../fonts/Something-in-the-way.ttf');
}
@font-face {
font-family: "Social Shapes";
src: url('../fonts/social_shapes.ttf')  ;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.nav-self-love-link
{
background-color: #000000;
  border-radius: 4px 4px 0 0;
 }
.navbar-list
{
font-family: 'Lobster', cursive;
font-size: 18pt;
}
.mobile-navbar{
  margin-right: 20px;
}
dialog {
    width: 500px;
    background:#e8e8e8;
    border: 1px solid #dadada;
    font-family:sans-serif;
    padding: 5px 10px 20px 20px;
}
.dropdown-menu-items
{
font-size: 14pt;
}
.jumbotron-blog-title
{
font-family: 'Bebas Neue', sans-serif;
}
.navbar-brand
{
 font-family: 'Bebas Neue', sans-serif;
 font-size: 24pt;
 position: relative;
 bottom: 7px;
}
@media (min-width: 768px) {
   .navbar-brand
  {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24pt;
    position: relative;
    bottom: 7px;
  }
}
/*
.header-nav-bar {
  text-align :center;
}
.site-header-nav-elements a:link {
  text-decoration: none;
  color: #FFFFFF;
}
.site-header-nav-elements a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
.site-header-nav-elements a:hover {
text-decoration: none;
color: #FFFFFF;
}
a.site-brand:link {
 text-decoration: none;
 color: #000000;
}
a.site-brand:visited {
 text-decoration: none;
 color: #000000;
}
a.site-brand:hover {
text-decoration: none;
color: #000000;
}
.site-brand {
  text-align :center;
  font-family: inconsolata, sans-serif;
  font-size: 48pt;
  text-decoration: none;
}
 a.site-header-nav-elements:link {
  text-decoration: none;
  color: #000000;
}
 a.site-header-nav-elements:visited {
  text-decoration: none;
  color: #000000;
}
 a.site-header-nav-elements:hover {
text-decoration: none;
color: #000000;
}
.site-header-nav-elements {
  text-align :center;
  vertical-align: 8pt;
  font-family: advent-pro, sans-serif;
  font-size: 16pt;
}
*/
.jumbotron-blog-tag
{
text-align: center;
opacity: 0.8;
background-color: #000000;
}
.jumbotron-blog-tag-custom
{
text-align: right;
opacity: 0.5;
background-color: #000000;
padding: 5em;
}
.jumbotron-blog-tag-custom span
{
font-family: 'Francois One', sans-serif;
margin: 0 auto;
display: inline-block;
}
.jumbotron-blog-tag span
{
font-family: 'Francois One', sans-serif;
margin: 0 auto;
display: inline-block;
}
.jumbotron-blog-tag span a:link
{
text-decoration:none;
color: #FFFFFF;
}
.jumbotron-blog-tag span a:visited
{
text-decoration:none;
color: #FFFFFF;
}
.jumbotron-blog-tag span a:hover
{
text-decoration:none;
color: #000000;
}
.socialmediaiconsonjumbotron
{
float:right;
margin-right:10px;
text-decoration: none;
}
.post_indexing
{
list-style-type: none;
padding: 0;
margin: 0;
}
.site {
  /* padding-top: 50px; */
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column;

}
@media (min-width: 992px) {
  .site {
    padding-top: 50px;
    display: flex;
    display: -webkit-flex;
    min-height: 100vh;
    flex-direction: column;
  }

}

.site-content {
     flex: 1 0 auto;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1 0 auto;/* IE 10 */
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}
@media (min-width: 768px) {

  .site-content {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 992px) {

  .site-content {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -20px;
  }

}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.main-content-item
{
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
#border-style: dashed;
#border-width: 1px;
#border-color: #000000;
padding-top: 15px;
}
@media (min-width: 992px) {
.main-content-item
{
padding-top: 15px;
padding-bottom: 15px;
padding-right: 15px;
padding-left: 15px;
}
}
.main-image
{
overflow: hidden;
float: left;
}
.main-text
{
overflow: hiddden;
float: right;
text-align: justify;
}
@media (min-width: 992px) {
  .main-text
  {
  padding-left: 15px !important;
  }

}
.instagram-media {
  margin: 0 auto !important;
}
.post-title
{
font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size: 32pt;
position: relative;
bottom: 25px;
text-align: left;
}
@media (min-width: 768px) {
  .post-title
  {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 32pt;
  position: relative;
  bottom: 25px;

  }
}
.inpost-title {
border: 4px solid #f2f2f2;
padding: 0.5em;
}
@media (min-width: 768px) {
  .inpost-title {

  }
}
.left-section
{
background: url('/img/lot/px_by_Gre3g.png');
padding: 0px 0px 8px 0px;
}
@media (min-width: 768px) {
  .left-section
  {
  background: url('/img/lot/px_by_Gre3g.png');
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  }
}
@media (min-width: 992px) {
  .left-section
  {
  background: url('/img/lot/px_by_Gre3g.png');
  padding-left: 7em;
  padding-right: 7em;
  padding-top: 2em;
  padding-bottom: 2em;
  }
}
.page-header
{
background: url('/img/lot/px_by_Gre3g.png');
padding-bottom: 0px !important; /*overidding the default value in template which is 9px*/
}
.post-title a:link
{
color: #3B4343 !important;
text-decoration: none;
}
.post-title a:visited
{
color: #3B4343 !important;
text-decoration: none;
}
.post-title a:hover
{
color: #1B1B1B !important;
text-decoration: none;
}

.post-body-post-layout {
font-family: 'Droid Sans', sans-serif;
font-weight: 400;
font-size: 12pt;
margin-left: 5px;
margin-right: 5px;
color: #FFFFFF;
}
@media (min-width: 768px){
  .post-body-post-layout {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: #FFFFFF;
  }
}
.post-text-format{
  text-align: justify;
}
.post-text-format-for-traditional-poems{
  text-align: center;
}
.post-body-question-format{
  font-family: 'Francois One', sans-serif;
}
.post-body-list-container ol{
  padding-left: 20px;
}
.post-body-list-container ul{
  padding-left: 0px;
}
@media (min-width: 992px){
  .post-body-list-container ul{
    padding-left:40px;
  }
  .post-body-list-container ol{
    padding-left: 40px;
  }
}
.post-body {
font-family: 'Droid Sans', sans-serif;
font-weight: 400 ;
font-size: 12pt ;
position: relative;
bottom: 25px;
}
.post-image-customsize {
  height: inherit;
  width: inherit;
}
@media (min-width: 992px) {
.post-image-customsize {
  height: 50%;
  width: 50%;
}
}
.lot-text{
font-family: 'Walter Turncoat', sans-serif;
font-size: 14pt;
text-align: justify;
margin-left: 5px;
margin-right: 5px;
}
@media (min-width: 768px){
  .lot-text{
  font-family: 'Walter Turncoat', sans-serif;
  font-size: 20pt;
  text-align: justify;
  }
}

.post-date {
font-family: 'Ubuntu Condensed', sans-serif;
float: left;
font-size : 25px;
position: relative;
bottom: 25px;
color: #FFFFFF;
}
.read-post-link {
font-family: 'Ubuntu Condensed', sans-serif;
float: left;
font-size : 25px;
position: relative;
bottom: 25px;
}
@media (min-width: 768px) {
  .post-date {
  float: left;
  }
  .read-post-link {
  float: right;
  }
}
#post-sub-text{
  padding-bottom: 1em;
  padding-top: 1em;


}
.contributor_picture{
  width: 90px;
	height: 90px;
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  float:left;
}
#author-and-date{

padding: 0px;
margin: 0px;
}
#author-and-date ul{
  list-style-type: none;
  text-align: center;
}
#author-and-date li{
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  #post-sub-text{
    padding-bottom: 4em;
    padding-top: 1em;
  }
  .contributor_picture{
    width: 100px;
  	height: 100px;

  	border-radius: 150px;
  	-webkit-border-radius: 150px;
  	-moz-border-radius: 150px;
  	background-repeat: no-repeat !important;
    background-position: 50% 50% !important;

    float:left;
  }
  .post-author {
  font-family: 'Ubuntu Condensed', sans-serif;
  float: left;
  margin-right: 1em;
  color: #FFFFFF;
  padding-top: 15px;

  }
  .post-date-post-layout {
  font-family: 'Ubuntu Condensed', sans-serif;
  float: left;
  margin-right: 1em;
  color: #FFFFFF;
  padding-top: 15px;
  }
}
.post-heading
{
  padding-bottom: 10px;
  color: #000000;
  background: #FFCC00;
  text-shadow: 0px 2px 3px #FFFF33;
  }
.post-title-post-layout
{
  margin-top: 30px;
  margin-bottom: 0px;

  font-family: 'Oswald', sans-serif;
 font-size: 32pt;
text-align: center;
 /*
box-shadow: inset 0px 0px 70px 10px rgb(42, 42, 38);*/
}
@media (min-width: 768px) {
  .post-heading
  {
    padding-bottom: 10px;
    color: #000000;
    background: #FFCC00;
    text-shadow: 0px 2px 3px #FFFF33;
  }
  .post-title-post-layout
  {
    margin-top: 30px;
    margin-bottom: 0px;

    font-family: 'Oswald', sans-serif;
   font-size: 64pt;
  text-align: center;
   /*
  box-shadow: inset 0px 0px 70px 10px rgb(42, 42, 38);*/
  }
}
.previous-post
{
  text-align: left;

}
.next-post
{
  text-align: right;
}
a.post-page-link
{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Righteous', sans-serif;
  background:#E62E00;
  font-size: 12pt;
  text-shadow: 1px 1px 5px  #FF704D;

}
a.post-page-link:visited
{
  color: #FFFFFF;
  text-decoration: none;
  background:#E62E00;

}
a.post-page-link:hover
{
  color: #000000;
  text-decoration: none;
  background:#FFD119;
}
@media (min-width : 768px){
  a.post-page-link
  {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Rancho', cursive;
    background:#E62E00;
    font-size: 20pt;
    text-shadow: 1px 1px 5px  #FF704D;
  }
  a.post-page-link:visited
  {
    color: #FFFFFF;
    text-decoration: none;
    background:#E62E00;

  }
  a.post-page-link:hover
  {
    color: #000000;
    text-decoration: none;
    background:#FFD119;
  }
}
#tag-container ul
{
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#tag-container li
{
display: inline-block;
margin-bottom: 8px;
}
@media (min-width : 768px){
  #tag-container ul
  {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #tag-container li
  {
  display: inline-block;
  padding-top: 0.1em;

  }
}
#social-sharing-request{
  text-align:center;
  font-family:'Pacifico',sans-serif;
  font-size:1.5em;
  color:#FF9933;
}
@media (min-width : 768px){
  #social-sharing-request{
    text-align:center;
    font-family:'Pacifico',sans-serif;
    font-size:2em;
    color:#FF9933;
  }
}
.post-body .separator .img-responsive {
    margin: 0 auto;
}

.month .month-expansion-link
{
float: left;
}
.label
{
font-weight: normal !important;
}
.pages-index
{
display: table;
margin:0 auto;
text-align:center;
}
.pagination
{
font-family: 'Cuprum', sans-serif;
width: 100%;
height: 100%;
font-size: 14pt;

}
#sidebar-v1
{
  border-radius: 40px;
  border: 2px solid #334C58;
background : url('/img/lot/graphy.png');
padding: 15px;
}
.about-us
{
  padding-left:0em ;
  padding-right:0em ;
}
@media (min-width:768 px) {
  .about-us
  {
    padding-left:5em ;
    padding-right:5em ;
  }


}

.aboutus-layout-section {
  padding-top: 15px;
}
.gadget-title
{
font-family: 'Fjalla One', sans-serif;
font-size: 36px;
}
.gadget-title a:link
{
color: #3B4343 !important;
text-decoration: none;
}
.gadget-title a:visited
{
color: #3B4343 !important;
text-decoration: none;
}
.gadget-title a:hover
{
color: #1B1B1B !important;
text-decoration: none;
}
.gadget-content
{
font-family: 'Source Sans Pro', sans-serif;
}
.gadget-content-list
{

list-style: none;
margin: 0px;
padding: 0px;
}
.gadget-content-list-items
{
text-decoration: none;
overflow: hidden;
display: inline-block;
}
.footer-responsive
{
margin-left: -20px;
margin-right: -20px;
}
@media (min-width: 768px) {
  .footer-responsive
  {
  margin-left: 0px;
  margin-right: 0px;
  }
}
.footer-elements
{
margin-left:-20px;
margin-right: -20px;
padding: 0;
list-style-type: none;
}
@media (min-width: 768px) {
  .footer-elements
  {
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
}
ul.footer-elements li
{
display: inline-block;
padding: .5em .5em;
}
@media (min-width: 768px) {
  ul.footer-elements li
  {
  display: inline-block;
  padding: .2em 1em;
  }
}
.footer-section-a
{
background: #000000;
}
.footer-section-b
{
background: #121212;
font-family: 'Ubuntu Condensed', sans-serif;
font-size: 12pt;

}
.footer-section-b-elements
{
color:#8F8F8F;
}
a.footer-section-b-elements:link
{
text-decoration:none;
color:#8F8F8F;
}
a.footer-section-b-elements:visited
{
text-decoration:none;
color:#8F8F8F;
}
a.footer-section-b-elements:hover
{
text-decoration:none;
color:#FFFFFF;
}

.social-wrapper
{
display: table;
margin:0 auto;
text-align:center;

}
.socialmediaiconlinksextended
{
font-family: 'Socialico Plus', sans-serif;
font-size: 40pt;
float: left;
}

.socialmediaiconlinks
{
font-family: 'Socialico', sans-serif;
font-size: 40pt;
float: left;
}
.socialmediatextlinks
{
position: relative;
top: 30px;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: 400;
font-size: 15pt;
float: left;
#margin-right: 70px;
}
a.social-media-decoration:link
{
color: #CC3300;
text-decoration: none;
}
a.social-media-decoration:visited
{
color: #CC3300;
text-decoration: none;
}
a.social-media-decoration:hover
{
color: #5E5E5E;
text-decoration: none;
}

.contact-us-content
{
font-family: 'Abel', sans-serif;
}
p.disclaimer-content
{
font-family: 'Fjalla One', sans-serif;
text-align:justify;
font-size: 16px;
}
@media (min-width: 768px) {

  p.disclaimer-content
  {
  font-family: 'Fjalla One', sans-serif;
  text-align:justify;
  font-size:32px;
  }
}
.label-shade-of-red
{
background-color:#ff1a1a;
}
.label-black
{
background-color:#000000;
}
.label-bleed-blue
{
background-color:#1A334C;
}
.label-bleed-orange
{
background-color:#CC5200;
}
.label-bleed-not-so-red
{
background-color:#993030;
}
.label-bleed-red
{
background-color:#CC0000;
}
.label-bleed-grey
{
background-color:#8c8c8c;
}
/*--icon floating on image on hover */
.main-container
{
position: relative;
}
.main-image-container
{
position: relative;
width:100%;
height:100%;
}
.floating-social-icon-container
{
position: absolute;
top:50%;
left:25%;
right:25%;
text-align: center;
display : none;
}
div.main-image-container:hover .img-responsive
{
opacity : 0.3;
filter: alpha(opacity=30); /* For IE8 and earlier */
}
div.main-image-container:hover .floating-social-icon-container
{
display: block;
}

/* icon floating on image on hover--! */
/*--TimeLineCSS--*/
.badges-year {
text-align: center;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 32pt;
}
.badges-title {
text-align: center;
font-family: 'Oswald', sans-serif;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
	margin-bottom: 0px !important;
}
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
			font-family: 'Yanone Kaffeesatz', sans-serif;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;

}

.timeline-title {
margin-top: 0;
font-family: 'Oswald', sans-serif;
font-weight: 400;
font-size: 32pt;
}
.timeline-title a:link
{
color: #3B4343 !important;
text-decoration: none;
}
.timeline-title a:visited
{
color: #3B4343 !important;
text-decoration: none;
}
.timeline-title a:hover
{
color: #1B1B1B !important;
text-decoration: none;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
	font-family: 'Droid Sans', sans-serif;
font-weight: 400;
font-size: 12pt;
}

    .timeline-body > p + p {
        margin-top: 5px;
		font-family: 'Droid Sans', sans-serif;
font-weight: 400;
font-size: 12pt;
    }
	.read-post-link-timeline {
font-family: 'Ubuntu Condensed', sans-serif;
font-weight : 400;
font-size : 25px;
padding-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
/*--TimeLineCSS--*/
