<div class="blog-about-us">
<h3>About Us</h3><br /><br />
<span style="font-style: italic;">We wish we knew where to start, from where it all started, or from where 'we' started.</span><br /><br /> 
<blockquote>
It came to me one night when life appeared unkinder than what it actually is.You see, it is easy to lose sight of what we truly are and what we truly can do, when put in a setting laced with lies, adulterated with antagonizing visions.I had submerged myself in a pile of work. And deep down a voice questioned - is there an end to this or is this the end? You know that voice. The voice speaks to us, only if we are open enough to listen. It took me a life of shambles (quite literally) to finally hear it!
</blockquote><br />
<span style="font-style: italic;"><span style="font-weight: bold;">Rest here. You can LeanOnMe. LeanOnTree</span></span><br /><br />
<blockquote>As I stared at the tree outside my bedroom window, I remember the days of innocence. Of hide &amp; seek, of pure friendship, of freedom of having to make no sense at all.
</blockquote><br />
LeanOnTree is an initiative to go back to the beginning. To discover that underneath the piles of whatever it is that we are submerged in, there lies potential - infinite, untapped, unadulterated.<br /><br />
<blockquote><span style="font-style: italic;">They tried to bury us,<br />They didn't know we were seeds</span></blockquote>
<span style="font-weight: bold;">LeanOnTree just had to exist. Because we ARE!!</span> <br /><br />It is for you, it is for me. It is for everyone looking for a safe place... a sanctuary.<br />Themes like Self Love, Consent, Relationships, LGBT, Feminism, Gender and Sexual Fluidity, are some of the many ways we endeavor to let all the facade dissolve down.Because only when the facade melts away, can we know who we really are.<br /><br />
Come. Exist. Be.
<span style="font-weight: bold;"><br />LeanOnTree</span><br /></div>