<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}
  {% if page.description == "" %}
  {% for post in site.posts %}
  {% if post.title == page.title %}
  <meta name="description" content="{{ post.excerpt | strip_html}} ">
  {% endif %}
  {% endfor %}
  {% else %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% else %}<meta name="description" content="{{ site.description }}">{% endif %}
<link rel="icon" type="image/png" href="/img/lot-icons/LeanOnTreeIcon.png">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans|Roboto:400,300italic,300,400italic|Cookie|Lobster|Fjalla+One|Yanone+Kaffeesatz:400,300,700|Grand+Hotel|Sansita+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Ubuntu:400,500,700|Quicksand:400,700|Roboto+Condensed:300italic,400italic,400,300|Oswald:400,700,300|Ubuntu+Condensed:400|Archivo+Narrow|Cuprum|Abel|Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bangers|Righteous|Montserrat|Francois+One|Source+Sans+Pro|Playball|Maiden+Orange|Rancho|Walter+Turncoat|Homenaje' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="fb:app_id" content="361201497409231" />
{% if page.description %}
{% if page.description == "" %}
{% for post in site.posts %}
{% if post.title == page.title %}
<meta name="og:description" content="{{ post.excerpt | strip_html}} "/>
{% endif %}
{% endfor %}
{% else %}<meta name="og:description" content="{{ page.description }}"/>{% endif %}
{% else %}<meta name="og:description" content="{{ site.description }}"/>{% endif %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65359714-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body class="site">
<header>
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="jumbotron" style="text-align:center; background:#6BACC2;color:#E9F0F2;">
  <h1 style="font-family:'Sansita One',cursive; margin-bottom:0px;">Lean On Tree</h1>
  <em style="font-family:'Yanone Kaffeesatz',sans-serif; font-size: 18pt;">Come. Exist. Be.</em>
  <h3 style="font-family:'Abel',cursive;">NEWSLETTER</h3>
  </div>
</div>
</div>
</header>
