<div class="jumbotron hidden-xs hidden-sm">
<div class="jumbotron-blog-tag"><span style="font-size: 24px;">The Self-Love Challenge</span><br/><span style="font-size: 72px;">50 THINGS I LOVE ABOUT MYSELF</span><br/><span class="label label-bleed-red" style="font-size: 24px;">
{% for post in site.posts %}
	{% if post.title == "Fifty Things I Love About Myself" %}	
	
	<a href="{{ post.url }}#how-to-join">Click here to join the contest</a>
	{% endif %}
	{% endfor %}</span><br/>
</div>
</div>

<div class="container-fluid">
