<div class="jumbotron-custom hidden-xs hidden-sm">
<div class="jumbotron-blog-tag-custom"><span style="font-size: 72px;">TWISTED </span><br/><span style="font-size: 36px;">
Point Of View</span><br/>
</div>
</div>
<!-- div class="socialmediaiconsonjumbotron">
<a href="https://www.facebook.com/leanontreeblog" style="color:white; font-style:bold;"><div class="socialmediaiconlinks">f</div></a></br>
<a href="http://twitter.com/leanontreeblog" style="color:white; font-style:bold;"><div class="socialmediaiconlinks">t</div></a></br>
<a href="https://instagram.com/leanontreeblog" style="color:white; font-style:bold;"><div class="socialmediaiconlinksextended">i</div></a></br>
<a href="https://plus.google.com/+Leanontreeblog" style="color:white; font-style:bolder;"><div class="socialmediaiconlinksextended">h</div></a></br>
</div -->
<div class="container-fluid">
