<div id="sidebar-v2">
<div class="blog-about-us">
<p class="gadget-title"><a href="/about/" style="text-decoration:none;"><i class="glyphicon glyphicon-tree-deciduous"></i>&nbsp;&nbsp;About LeanOnTree</a></p>
<div class="gadget-content">
<p style="font-style: italic;font-size: 12pt;">We wish we knew where to start, from where it all started, or from where 'we' started.</p>
<blockquote style="font-size: 12pt;">
It came to me one night when life appeared unkinder than what it actually is.You see, it is easy to lose sight of what we truly are and what we truly can do, when put in a setting laced with lies, adulterated with antagonizing visions.I had submerged myself in a pile of work. And deep down a voice questioned - is there an end to this or is this the end? You know that voice. The voice speaks to us, only if we are open enough to listen. It took me a life of shambles (quite literally) to finally hear it!
</blockquote>
<a href="/about/" style="text-decoration:none;"><span class="label label-default" style="font-size: 12pt;">Read More &raquo;</span></a>
<br /></div></div>
<br/><br/>
<div class="archive">
<p class="gadget-title"><a href="/timeline/" style="text-decoration:none;"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Archive</a></p>
<p class="gadget-content" style="font-size: 12pt;">We have our complete journey archived just for you! <a href="/timeline/" style="text-decoration:none;"><span class="label label-bleed-orange" style="font-size: 12pt;">This</span></a>  is where you can track it!
</p>
</div><br/><br/>
<div class="tags-random">
<p class="gadget-title"><i class="glyphicon glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Site Tags</p>
<div class="gadget-content ">
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
<ul class="gadget-content-list">
{% for elements in tag_words %}
<li class="gadget-content-list-items"><a href="/tag/{{ elements }}" id="tag-listing" value="{{ elements }}" style="text-decoration:none;"><span class="label label-bleed-blue" style="font-size: 12pt;">{{ elements }}</span></a></li>
{% endfor %}
</ul>
</div></div>
</div>
